<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label for="user-input" style="margin: 1em">Enter Twit</label>
      <input type="text" name="user-input" >
      <button 
        class="btn btn-primary" 
        style="margin: 1em" 
        (click)="submitIt('twit')"
        >Submit
      </button>
    </div>
  </div>
</div>
